.grid-container > div {
  text-align: center;
  border: 1px solid #222222;
  font-size: 30px
}

div.grid-container {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  border: 2px solid #222222;
  /* padding: 50px 50px 50px 50px; */
  text-align: center;
}