body {
  background-color: #d6e5f1
}
#wrapper {
  display: flexbox;
  text-align: center
}
p {
  display: inline-block;
  font-size: 24pt;
  padding: 10px 10px 20px 30px
}
button {
  font-size: 16pt;
  padding: 10px;
}
.score-wrapper {
  display: -webkit-inline-box;
}
.score {
  background-color: aliceblue;
  border-style: inset
}
.grid-container > div {
  text-align: center;
  border: 1px solid #222222;
  font-size: 24pt;
  padding: 20px
}
div.grid-container {
  display: inline-grid;
  background-color: aliceblue;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: space-around;
  text-align: center;
}